.rubik-doodle-shadow-regular {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    background-color: rgba(240, 240, 220, 1);
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: black;
}

header {
    position: relative;
    padding: 0 2rem;
    font-family: "Rubik Doodle Shadow", system-ui;
}

canvas {
    background-color: black;

}

.contenedorJuego {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pantalla {
    position: relative;
    border: 1px solid black;
    width: 85%;
    height: 80vh;
}

.pantalla p {
    position: absolute;
    z-index: 10;
    color: white;
    left: 20px;
    top: 20px;
    font-size: 24px;
}

.pantalla p span {
    font-family: "Rubik Doodle Shadow", system-ui;
}

.btn-more{
    padding: 0.65rem 1.2rem;
    width: fit-content;
    background-color: rgba(240, 240, 220, 1);
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    font-family: "Rubik Doodle Shadow", system-ui;
}

.btn-more:hover{
    color: rgba(240, 240, 220, 1);
    background-color: rgba(150, 150, 100, 1);
}
/* Responsive */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}