<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styleMarket.css' %}">
    <script src="https://kit.fontawesome.com/5100bdbfb9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    
    <title>Page</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="btn-field">
        <button id="signIn"><a href="{% url 'ship_formulario' %}">Agregar Nave</a></button>
    </div>
    <div class="container">
        {% for ship in market %}

            <div class="card">
                <figure>
                    {% if ship.imagen %}
                        <img src="{{ ship.imagen.url }}" alt="" srcset="">
                    {% else %}
                        <img src="" alt="" srcset="">
                    {% endif %}
                </figure>
                <div class="contenido">
                    <h3>{{ ship.nombre }}</h3>
                    <p>{{ ship.descripcion }}</p>
                    <p>{{ ship.price }}</p>
                    <a href="#">Comprar</a>
                </div>
            </div>

        {% endfor %}
    </div>      
</body>
</html>