{% extends 'plantilla.html' %}

{% block contenido_cambiante %}
<form action="{% url 'actualizar_post' post.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{miFormulario.as_p}}

    {% if post.imagen %}
        <div>
            <img src="{{ post.imagen.url }}" alt="Imagen actual" style="max-width: 200px; max-height: 200px;">
        </div>
    {% else %}
        <div>
            <p>No hay imagen</p>
        </div>
    {% endif %}
    
    <div class="btn-field">
        <button id="signIn" type="submit">Actualizar Post</button>
    </div>
</form>
{% endblock contenido_cambiante %}