<header>
    <div class="navbar">
        <div class="logo"><a href="{% url 'index' %}">Logo De Juego</a></div>
        <ul class="links">
            <li><a href="{% url 'juego' %}">Jugar</a></li>
            <li><a href="{% url 'market' %}">Market</a></li>
            <li><a href="{% url 'rank' %}">Rankin</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        {% if user.is_authenticated %}
            <div class="usuario">
                {% if url %}
                    <div class="avatar">
                        <img src="{{ url }}" alt="avatar" srcset="">
                    </div>
                {% endif %}
                {% if puntos %}
                    <p>Score: {{puntos.puntos}}</p>
                {% endif %}
                <a href="{% url 'usuario' %}"><p>{{user.username}}</p></a>
            </div>
                <a href="{% url 'logout' %}" class="action_btn">Salir</a>

        {% else %}
            <a href="{% url 'login' %}" class="action_btn">Ingresar</a> 
        {% endif %}

        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="dropdown_menu">
        <li><a href="">Market</a></li>
        <li><a href="">Rankin</a></li>
        <li><a href="">About</a></li>
        <li><a href="" class="action_btn">Ingresar</a></li>
    </div>
</header>

<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function() {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? 'fa-solid fa-xmark'
        : 'fa-solid fa-bars'
    }
</script>