<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleRegistro.css' %}">
    <script src="https://kit.fontawesome.com/5100bdbfb9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <title>Page</title>
</head>

<body>
    {% include 'pagina/navbar.html' %}
    <div class="vista">
        {% if user.is_authenticated and user.is_superuser %}
        <div class="panel_administrador">
            <div class="btn_administrar">
                <a href="{% url 'administrar_post' %}" class="listaPost">Ver Post Listados</a>
                <a href="{% url 'post_formulario' %}">Agregar Post</a>
                <a href="{% url 'listar_naves' %}" class="listaNaves">Ver Naves Listadas</a>
                <a href="{% url 'ship_formulario' %}">Agregar Nave</a>
            </div>
            <div class="vista_listas" >
                <ul id="vistaPost">
                    {% if mostrar_posts %}
                        {% for post in lista_post %}
                        <li>
                            <div class="post_listados">
                                <p>"Titulo": {{ post.titulo }}, "Autor": {{ post.autor }}, "Fecha": {{ post.fecha }}</p>
                            </div>
                            <div class="post_botones">
                                <a href="{% url 'actualizar_post' post.id %}" class="action_btn">Actualizar</a>
                                <a href="{% url 'borrar_post' post.id %}" class="action_btn">Borrar</a>
                            </div>                       
                        </li>
                        {% endfor %}
                    {% elif mostrar_naves %}
                        {% for nave in lista_naves %}
                        <li>
                            <div class="post_listados">
                                <p>Nombre: {{ nave.nombre }}, Costo: {{ nave.price }}</p>
                            </div>
                            <div class="post_botones">
                                <a href="{% url 'actualizar_nave' nave.id %}" class="action_btn">Actualizar</a>
                                <a href="{% url 'borrar_nave' nave.id %}"  class="action_btn">Borrar</a>
                            </div>                       
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="panelUsuario">
            <div class="panel">
                {% if user.is_authenticated %}
                <p class="username">{{user.username}}</p>
                {% if user.profile %}
                <p class="userpoints">Score: {{user.profile.puntos}}</p>
                {% endif %}
                {% if url %}
                <div class="userimage">
                    <img src="{{ url }}" alt="Imagen no encontrada" srcset="">
                </div>
                {% else %}
                <div class="userimage" style="background-color: black;">
                    <img src="" alt="Imagen no encontrada" srcset="">
                </div>
                <a href="{% url 'crear_avatar' %}" class="action_btn">Añadir Avatar</a>
                {% endif %}
                <p>Amigos: 0</p>
            </div>
            {% endif %}
        </div>
        <div class="panelUsuario">
            <div class="panel">
                <p class="username">Naves</p>
                {% if user.profile.naves.all %}
                {% for nave in user.profile.naves.all %}
                <div class="user_ships">
                    <img src="{{ nave.imagen.url }}" alt="Imagen de la nave">
                </div>
                <p>{{ nave.nombre }}</p>
                {% endfor %}
                {% else %}
                <p>El usuario no tiene ninguna nave.</p>
                {% endif %}
                <a href="{% url 'market' %}" class="action_btn">Comprar</a>
            </div>
        </div>
    </div>
    </div>

</body>

</html>